<!DOCTYPE html>
<html>
<head>
  <title>Quiz App</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
<style>
.home-page{
 background:url(http://10.3.2.67/ibreports/images/bi.jpg?fn=BASIS%20Students&fp=2&ip=10.14.8.194&ibip=10.14.2.15&ldu=1&re=0&bu=static.zerochan.net/ruby.rose.full.2032111.jpg&bc=Website%20contains%20prohibited%20Games%20content.)no-repeat center center fixed;
}
  </style>
</head>
<body> 

  <div class="home-page">

  	<h1>Welcome to the Quiz!</h1>
  	
  	<form method="POST" action="/results">
  	<p>1. Who is Ruby's mother?</p>
  		<input type="radio" name="q1" value="Summer Rose">Summer Rose<br>
  		<input type="radio" name="q1" value="Raven">Raven<br>
  		<input type="radio" name="q1" value="Tai">Tai<br>
  		<input type="radio" name="q1" value="Weiss">Weiss<br>
  	<p>2. Who is Yang's mother?</p>
  		<input type="radio" name="q2" value="Summer Rose">Summer Rose<br>
  		<input type="radio" name="q2" value="Raven">Raven<br>
  		<input type="radio" name="q2" value="Tai">Tai<br>
  		<input type="radio" name="q2" value="Weiss">Weiss<br>
  	<p>3. Who has died in RWBY?</p>
  		<input type="radio" name="q3" value="Pyyrha">Pyrrha<br>
  		<input type="radio" name="q3" value="Penny">Penny<br>
  		<input type="radio" name="q3" value="Roman Torchwick">Roman Torchwick<br>
  		<input type="radio" name="q3" value="All of the above">All of the above<br>
  	<p>4. What is Tyrian's Faunus half?</p>
  		<input type="radio" name="q4" value="Spider">Spider<br>
  		<input type="radio" name="q4" value="Bat">Bat<br>
  		<input type="radio" name="q4" value="Scorpion">Scorpion<br>
  		<input type="radio" name="q4" value="Monkey">Monkey<br>
  	<p>5. Which member of Team RWBY does the song "Mirror, Mirror" connect to?</p>
  		<input type="radio" name="q5" value="Weiss">Weiss<br>
  		<input type="radio" name="q5" value="Yang">Yang<br>
  		<input type="radio" name="q5" value="Blake">Blake<br>
  		<input type="radio" name="q5" value="Ruby">Ruby<br>
  	<input type="submit">
  	</form>

  </div>

</body>
</html>

